@import url('https://fonts.googleapis.com/css2?family=Poppins');
// app global css in SCSS form
.navbar {
  background-color: $white;
  color: $primary-text;
}

.btn-primary {
  color: $primary;
  background-color: $white;
  border: 2px solid $primary;
}

.btn-primary:hover {
  background-color: $primary;
  color: $white;
}

.upp-text-primary {
  font-weight: 700;
  color: #007d8ca6;
}
.upp-text-secondary {
  font-weight: 400;
  color: #007d8ca6;
}
.upp-text-terciary {
  font-weight: 400;
  color: #00000085;
}
